@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes gradient-colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes move-shape {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
}

@keyframes move-shape-reverse {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(20px) translateX(-20px);
  }
}

.animate-gradient-colors {
  animation: gradient-colors 6s infinite linear;
  background-size: 200% 200%;
}

.animate-move-shape {
  animation: move-shape 5s infinite ease-in-out;
}

.animate-move-shape-reverse {
  animation: move-shape-reverse 5s infinite ease-in-out;
}
